@model PolicyManagementSystem.Controllers.Models.PolicyManagementViewModel
@{

}
<!-- ============================================================== -->
<!-- pageheader -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Policy Management</h2>
            <p class="pageheader-text"></p>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        @*<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>*@
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Policy Management</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Amendments Allowed</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- ============================================================== -->
    <!-- basic table  -->
    <!-- ============================================================== -->
    @using (Html.BeginForm("ChangeContactDetails", "PolicyManagement", FormMethod.Post))
    {
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Amend Details</h5>
                <div class="card-body" style="width: 1040px;">
                    <div class="table-responsive">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
                            <div class="tab-regular">
                                <ul class="nav nav-tabs " id="myTab" role="tablist">

                                    <li class="nav-item">
                                        <a class="nav-link active" id="member-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="member" aria-selected="false">Contact Details</a>
                                    </li>

                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="member-tab">
                                        <div class="form-group">
                                          @*  @Html.TextBoxFor(x => x.MemberProposer.FirstName, new { @class = "form-control", placeholder = "First Name", @readonly = "readonly" })*@
                                            @Html.LabelFor(x => x.MemberProposer.FirstName, new { @class = "control-label" })
                                        </div>
                                        <div class="form-group">
                                            @*@Html.TextBoxFor(x => x.MemberProposer.Surname, new { @class = "form-control", placeholder = "Surname", @readonly = "readonly" })*@
                                             @Html.LabelFor(x => x.MemberProposer.Surname, new { @class = "control-label" })
                                        </div>
                                        <div class="form-group">
                                            @*@Html.TextBoxFor(x => x.MemberProposer.Idnum, new { @class = "form-control", placeholder = "SA ID/Passport", @readonly = "readonly" })*@
                                            @Html.LabelFor(x => x.MemberProposer.Idnum, new { @class = "control-label" })
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(x => x.MemberProposer.ContactPhone, new { @class = "form-control", placeholder = "Cell number" })
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(x => x.MemberProposer.ContactEmail, new { @class = "form-control", placeholder = "Email" })<br />
                                        </div>

                                        <a href="#" class="btn btn-secondary" style="background-color: #4656e9 !important; border-color: #4656e9 !important">Amend</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
    <!-- ============================================================== -->
    <!-- end basic table  -->
    <!-- ============================================================== -->
</div>
<p>
    @ViewBag.userid
</p>